@inherits LayoutComponentBase

<main role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">
    @Body
</main>

<nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
    <NavMenu />
</nav>
